// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// a. Theme colors
$primary: #131425;
$secondary: #85248d;

$grey-text: #C1C1C1;
$orange-text:#F8C84A;
$play-button:#111A19;


$modal-bg: $primary;
$input-placeholder-color: white;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "grey-text": $grey-text,
  "orange-text": $orange-text
);

// b. Standard fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

$font-family-base: 'Arimo', 'Montserrat', sans-serif;

//c. margin and padding spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
);

$position-values: (
  0: 0%,
  half: 0.5%,
  1: 1%,
  2: 2%,
  3: 3%,
  4: 4%,
  5: 5%,
  6: 6%,
  7: 7%,
  8: 8%,
  9: 9%,
  10: 10%,
  11: 11%,
  12: 12%,
  13: 13%,
  14: 14%,
  15: 15%,
  16: 16%,
  17: 17%,
  18: 18%,
  19: 19%,
  20: 20%,
  21: 21%,
  22: 22%,
  23: 23%,
  24: 24%,
  25: 25%,
  26: 26%,
  27: 27%,
  28: 28%,
  29: 29%,
  30: 30%,
  31: 31%,
  32: 32%,
  33: 33%,
  34: 34%,
  35: 35%,
  36: 36%,
  37: 37%,
  38: 38%,
  39: 39%,
  40: 40%,
  41: 41%,
  42: 42%,
  43: 43%,
  44: 44%,
  45: 45%,
  46: 46%,
  47: 47%,
  48: 48%,
  49: 49%,
  50: 50%,
  51: 51%,
  52: 52%,
  53: 53%,
  54: 54%,
  55: 55%,
  56: 56%,
  57: 57%,
  58: 58%,
  59: 59%,
  60: 60%,
  61: 61%,
  62: 62%,
  63: 63%,
  64: 64%,
  65: 65%,
  66: 66%,
  67: 67%,
  68: 68%,
  69: 69%,
  70: 70%,
  71: 71%,
  72: 72%,
  73: 73%,
  74: 74%,
  75: 75%,
  76: 76%,
  77: 77%,
  78: 78%,
  79: 79%,
  80: 80%,
  81: 81%,
  82: 82%,
  83: 83%,
  84: 84%,
  85: 85%,
  86: 86%,
  87: 87%,
  88: 88%,
  89: 89%,
  90: 90%,
  91: 91%,
  92: 92%,
  93: 93%,
  94: 94%,
  95: 95%,
  96: 96%,
  97: 97%,
  98: 98%,
  99: 99%,
  100: 100%,
);

//complement mappings

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

//d. Sizing


$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: (
          auto: auto,
          0: 0%,
          1: 1%,
          2: 2%,
          3: 3%,
          4: 4%,
          5: 5%,
          6: 6%,
          7: 7%,
          8: 8%,
          9: 9%,
          10: 10%,
          11: 11%,
          12: 12%,
          13: 13%,
          14: 14%,
          15: 15%,
          16: 16%,
          17: 17%,
          18: 18%,
          19: 19%,
          20: 20%,
          21: 21%,
          22: 22%,
          23: 23%,
          24: 24%,
          25: 25%,
          26: 26%,
          27: 27%,
          28: 28%,
          29: 29%,
          30: 30%,
          31: 31%,
          32: 32%,
          33: 33%,
          34: 34%,
          35: 35%,
          36: 36%,
          37: 37%,
          38: 38%,
          39: 39%,
          40: 40%,
          41: 41%,
          42: 42%,
          43: 43%,
          44: 44%,
          45: 45%,
          46: 46%,
          47: 47%,
          48: 48%,
          49: 49%,
          50: 50%,
          51: 51%,
          52: 52%,
          53: 53%,
          54: 54%,
          55: 55%,
          56: 56%,
          57: 57%,
          58: 58%,
          59: 59%,
          60: 60%,
          61: 61%,
          62: 62%,
          63: 63%,
          64: 64%,
          65: 65%,
          66: 66%,
          67: 67%,
          68: 68%,
          69: 69%,
          70: 70%,
          71: 71%,
          72: 72%,
          73: 73%,
          74: 74%,
          75: 75%,
          76: 76%,
          77: 77%,
          78: 78%,
          79: 79%,
          80: 80%,
          81: 81%,
          82: 82%,
          83: 83%,
          84: 84%,
          85: 85%,
          86: 86%,
          87: 87%,
          88: 88%,
          89: 89%,
          90: 90%,
          91: 91%,
          92: 92%,
          93: 93%,
          94: 94%,
          95: 95%,
          96: 96%,
          97: 97%,
          98: 98%,
          99: 99%,
          100: 100%,
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "height": map-merge(
      map-get($utilities, "height"),
      (
        values: (
          auto: auto,
          0: 0%,
          1: 1%,
          2: 2%,
          3: 3%,
          4: 4%,
          5: 5%,
          6: 6%,
          7: 7%,
          8: 8%,
          9: 9%,
          10: 10%,
          11: 11%,
          12: 12%,
          13: 13%,
          14: 14%,
          15: 15%,
          16: 16%,
          17: 17%,
          18: 18%,
          19: 19%,
          20: 20%,
          21: 21%,
          22: 22%,
          23: 23%,
          24: 24%,
          25: 25%,
          26: 26%,
          27: 27%,
          28: 28%,
          29: 29%,
          30: 30%,
          31: 31%,
          32: 32%,
          33: 33%,
          34: 34%,
          35: 35%,
          36: 36%,
          37: 37%,
          38: 38%,
          39: 39%,
          40: 40%,
          41: 41%,
          42: 42%,
          43: 43%,
          44: 44%,
          45: 45%,
          46: 46%,
          47: 47%,
          48: 48%,
          49: 49%,
          50: 50%,
          51: 51%,
          52: 52%,
          53: 53%,
          54: 54%,
          55: 55%,
          56: 56%,
          57: 57%,
          58: 58%,
          59: 59%,
          60: 60%,
          61: 61%,
          62: 62%,
          63: 63%,
          64: 64%,
          65: 65%,
          66: 66%,
          67: 67%,
          68: 68%,
          69: 69%,
          70: 70%,
          71: 71%,
          72: 72%,
          73: 73%,
          74: 74%,
          75: 75%,
          76: 76%,
          77: 77%,
          78: 78%,
          79: 79%,
          80: 80%,
          81: 81%,
          82: 82%,
          83: 83%,
          84: 84%,
          85: 85%,
          86: 86%,
          87: 87%,
          88: 88%,
          89: 89%,
          90: 90%,
          91: 91%,
          92: 92%,
          93: 93%,
          94: 94%,
          95: 95%,
          96: 96%,
          97: 97%,
          98: 98%,
          99: 99%,
          100: 100%,
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "viewport-width": map-merge(
      map-get($utilities, "viewport-width"),
      (
        values: (
          0: 0vw,
          1: 1vw,
          2: 2vw,
          3: 3vw,
          4: 4vw,
          5: 5vw,
          6: 6vw,
          7: 7vw,
          8: 8vw,
          9: 9vw,
          10: 10vw,
          11: 11vw,
          12: 12vw,
          13: 13vw,
          14: 14vw,
          15: 15vw,
          16: 16vw,
          17: 17vw,
          18: 18vw,
          19: 19vw,
          20: 20vw,
          21: 21vw,
          22: 22vw,
          23: 23vw,
          24: 24vw,
          25: 25vw,
          26: 26vw,
          27: 27vw,
          28: 28vw,
          29: 29vw,
          30: 30vw,
          31: 31vw,
          32: 32vw,
          33: 33vw,
          34: 34vw,
          35: 35vw,
          36: 36vw,
          37: 37vw,
          38: 38vw,
          39: 39vw,
          40: 40vw,
          41: 41vw,
          42: 42vw,
          43: 43vw,
          44: 44vw,
          45: 45vw,
          46: 46vw,
          47: 47vw,
          48: 48vw,
          49: 49vw,
          50: 50vw,
          51: 51vw,
          52: 52vw,
          53: 53vw,
          54: 54vw,
          55: 55vw,
          56: 56vw,
          57: 57vw,
          58: 58vw,
          59: 59vw,
          60: 60vw,
          61: 61vw,
          62: 62vw,
          63: 63vw,
          64: 64vw,
          65: 65vw,
          66: 66vw,
          67: 67vw,
          68: 68vw,
          69: 69vw,
          70: 70vw,
          71: 71vw,
          72: 72vw,
          73: 73vw,
          74: 74vw,
          75: 75vw,
          76: 76vw,
          77: 77vw,
          78: 78vw,
          79: 79vw,
          80: 80vw,
          81: 81vw,
          82: 82vw,
          83: 83vw,
          84: 84vw,
          85: 85vw,
          86: 86vw,
          87: 87vw,
          88: 88vw,
          89: 89vw,
          90: 90vw,
          91: 91vw,
          92: 92vw,
          93: 93vw,
          94: 94vw,
          95: 95vw,
          96: 96vw,
          97: 97vw,
          98: 98vw,
          99: 99vw,
          100: 100vw
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "viewport-height": map-merge(
      map-get($utilities, "viewport-height"),
      (
        values: (
          0: 0vh,
          1: 1vh,
          2: 2vh,
          3: 3vh,
          4: 4vh,
          5: 5vh,
          6: 6vh,
          7: 7vh,
          8: 8vh,
          9: 9vh,
          10: 10vh,
          11: 11vh,
          12: 12vh,
          13: 13vh,
          14: 14vh,
          15: 15vh,
          16: 16vh,
          17: 17vh,
          18: 18vh,
          19: 19vh,
          20: 20vh,
          21: 21vh,
          22: 22vh,
          23: 23vh,
          24: 24vh,
          25: 25vh,
          26: 26vh,
          27: 27vh,
          28: 28vh,
          29: 29vh,
          30: 30vh,
          31: 31vh,
          32: 32vh,
          33: 33vh,
          34: 34vh,
          35: 35vh,
          36: 36vh,
          37: 37vh,
          38: 38vh,
          39: 39vh,
          40: 40vh,
          41: 41vh,
          42: 42vh,
          43: 43vh,
          44: 44vh,
          45: 45vh,
          46: 46vh,
          47: 47vh,
          48: 48vh,
          49: 49vh,
          50: 50vh,
          51: 51vh,
          52: 52vh,
          53: 53vh,
          54: 54vh,
          55: 55vh,
          56: 56vh,
          57: 57vh,
          58: 58vh,
          59: 59vh,
          60: 60vh,
          61: 61vh,
          62: 62vh,
          63: 63vh,
          64: 64vh,
          65: 65vh,
          66: 66vh,
          67: 67vh,
          68: 68vh,
          69: 69vh,
          70: 70vh,
          71: 71vh,
          72: 72vh,
          73: 73vh,
          74: 74vh,
          75: 75vh,
          76: 76vh,
          77: 77vh,
          78: 78vh,
          79: 79vh,
          80: 80vh,
          81: 81vh,
          82: 82vh,
          83: 83vh,
          84: 84vh,
          85: 85vh,
          86: 86vh,
          87: 87vh,
          88: 88vh,
          89: 89vh,
          90: 90vh,
          91: 91vh,
          92: 92vh,
          93: 93vh,
          94: 94vh,
          95: 95vh,
          96: 96vh,
          97: 97vh,
          98: 98vh,
          99: 99vh,
          100: 100vh
        ),
      ),
    ),
  )
);
//finally import full bs scss
@import "../node_modules/bootstrap/scss/bootstrap";
