body {
    font-family: 'Avenir LT Pro 55 Roman';
}

.social-buttons {
    color: white;
}

.social-buttons:hover {
    color: grey;
}

.page-title {
    width: 40vw;
}

.tokenomics-img {
    width: 100%; 
    height: auto;
}

@media (min-width: 768px) { 
    .page-title {
        width: 25vw;
    }

    .tokenomics-img {
        width: 50%; 
        height: auto;
    }
}