:root {
    --navbar-height: 300px;
}

.nav-heigth {
    height: var(--navbar-height);
}

.navbar-shrink {
    background-color: black !important;
    border-bottom: white 1px solid !important;
}

.carousel-item{
    height: 100px;
} 
.carousel-item img{
    height: 100px;
}