body {
    font-family: 'Avenir LT Pro 55 Roman';
}

.social-buttons {
    color: white;
}

.social-buttons:hover {
    color: grey;
}

.page-title {
    width: 40vw;
}

.page-title-meet-monkeys {
    width: 70vw;
}

.tokenomics-img {
    width: 100%; 
    height: auto;
}

.text-box-sizing {
    width: 80%;
}

.monkey-video {
    width: 250px;
    height: 300px;
    box-shadow: rgba(150, 150, 170, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
} 

.monkey-video-in {
    width: 250px;
    height: 300px;
} 

.team-photo {
    width: 180px;
}

.main-bg {
    background: url('../img/banana-bg-mobile.jpg') no-repeat center center fixed; 
    background-size: contain; 
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
}

@media (min-width: 768px) { 
    .page-title {
        width: 20vw;
    }

    .page-title-meet-monkeys {
        width: 35vw;
    }

    .tokenomics-img {
        width: 50%; 
        height: auto;
    }

    .text-box-sizing {
        width: 50%;
    }

    .monkey-video {
        width: 300px;
        height: 330px;
        box-shadow: rgba(150, 150, 170, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
    } 
    
    .monkey-video-in {
        width: 300px;
        height: 330px;
    } 

    .team-photo {
        width: 225px;
        height: 225px;
    }

    .main-bg {
        background: url('../img/banana-bg.jpg') no-repeat center center fixed; 
        background-size: cover; 
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
}